body {
    background-image: #e3e3e3;
    font-size: 16px;
    line-height: 1.5;
}

p,
li,
a,
h1,
h2,
h3,
span,
.navigation a,
.navigation span,
.centered .about ul li a,
.navigation .menu-button,
.list ul li .title {
    font-family: 'Lato', Helvetica, sans-serif;
    color: #113566;
}

.content article header h1 {
    font-size: initial;
}

footer section,
.footer a {
    color: #113566;
}

.list ul li .date {
    width: initial;
}

pre {
    background-color: #fafafa;
    border-radius: 0.25em;
}

code {
    background-color: #113566;
    opacity: 0.8;
}

code,
pre code {
    color: initial;
}

.centered .about ul li a:hover,
.navigation a:hover,
.footer a:hover {
    color: #113588;
}

@media only screen and (max-width: 768px) {
    .navigation .navigation-list {
        background-color: #113566;
    }

    .navigation .menu-button {
        color: #333;
    }
}

